body {
    background-image: url('IN-en-20250915-TRIFECTA-perspective_d3d87aa7-58ed-4c6b-98dc-231ed05ba675_large.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.sibutton {
    background-color: rgb(229, 27, 9);
    border-radius: 6px;
    height: 36px;
    width: 78px;
    color: white;
    font-weight: bold;
    margin-left: 8px;
    border: none;
    cursor: pointer;
}

.langbutton {
    background-color: rgba(26, 26, 26, 0.7);
    border-radius: 6px;
    height: 35px;
    width: 100px;
    color: white;
    font-weight: bold;
    border: 0.5px solid #fff;
    margin-right: 8px;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 20px;
}

.contentt {
    color: white;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.shade {
    background-color: rgba(0, 0, 0, .7);
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.mainheading {
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .mainheading {
        font-size: 2em;
    }
    .start1, .start {
        width: 90vw;
        font-size: 1em;
    }
}

.midheading {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

.theading {
    color: rgb(122, 187, 220);
    text-align: center;
    margin-bottom: 20px;
}

.lastbar {
    display: flex;
}

.lastbar div {
    padding: 2px;
}

.start1 {
    background-color: rgba(18, 17, 17, 0.7);
    height: 50px;
    width: 400px;
    border: 0.5px solid #fff;
    color: rgb(143, 136, 136);
    font-size: 15px;
    font-weight: bolder;
    border-radius: 7px 0 0 7px;
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
    outline: none;
}

.start {
    background-color: rgb(229, 27, 9);
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 0 7px 7px 0;
    text-align: center;
    margin-top: 20px;
    margin-left: -4px;
    cursor: pointer;
}

.contentt > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}